@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=cyrillic');
body {
  margin-top: 103px;
  @include media-breakpoint-down(md) {
    margin-top: 83px;
  }
}
.header{
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  position: fixed;
  font-size: 1.4rem;
  background: $dark-gray;

  .navbar-mobile-links {
    padding: 0 5px;

    img {
      height: 30px;
    }
    span {
      color: #ec6e02;
      font-size: 1.8rem;
      vertical-align: middle;
    }
  }

  .dropdown-menu {

    .dropdown-item {
      color: #000;
      font-size: 1.6rem;
      font-weight: normal;

      &:focus, &:active, &:hover {
        background: #f8f9fa;
      }
    }
  }

  @include media-breakpoint-down(md) {

    .nav-link-first-menu {
      display: none;
    }

    .dropdown-menu {
      border: 0;
      color: #fff;
      font-size: 1.4rem; 
      background: $dark-gray;

      .dropdown-item {
        color: #F7AB46;
      }
    }
  }
  .nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    @include media-breakpoint-down(md) {
      color: #F7AB46 !important;
    }
  }
  .phone{
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }  
    a{
      font-family: 'Calibri';
      font-weight: 600;
      color: #fff;
      font-size: 16px;
      @include media-breakpoint-down(md) {
        color: #F7AB46;
      }
    }
  }
  .signin{
    font-family: 'Montserrat', sans-serif;
    @include media-breakpoint-down(md) {
      color: #F7AB46;
      border-color: #F7AB46;
    }
  }
  .basket{
    font-family: 'Calibri';
    color: #fff;
    background: #F7AB46;
    border-color: #F7AB46;
  }
  .container{
    overflow: inherit;
  }
}
.navbar-change{
  background: transparent !important;
}
.navbar-toggler{
  @include media-breakpoint-down(md) {
    background-color: orange;
    border-color: orange;
  }
}
.navbar-nav-menu{
  @include media-breakpoint-down(md) {
    padding: 2rem 0;
    align-items: initial !important;
  }
  .nav-item{
    @include media-breakpoint-down(md) {
      margin-bottom: 0.5rem;
    }
  }
}
.summ{
  position: absolute;
  bottom: -25px;
  right: 30px;
  color: #fff;
  @include media-breakpoint-down(md) {
    color: #000;
    position: relative;
    right: 0;
    bottom: -10px;
  }
}
.nav-link-first{
  min-height: inherit;
  &:hover{
    background: transparent;
  }
  @include media-breakpoint-down(md) {
    border-color: #F7AB46;
    display: inline-block;
  }
}