.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e91d";
}
.icon-arrow-drop-down:before {
  content: "\e900";
}
.icon-basket:before {
  content: "\e901";
}
.icon-camera-alt:before {
  content: "\e902";
}
.icon-cancel:before {
  content: "\e903";
}
.icon-checked:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-facebook-logo:before {
  content: "\e906";
}
.icon-fast-food:before {
  content: "\e907";
}
.icon-instagram-logo:before {
  content: "\e908";
}
.icon-maps-and-flags:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-minus:before {
  content: "\e90b";
}
.icon-money:before {
  content: "\e90c";
}
.icon-open-book:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-promotion:before {
  content: "\e90f";
}
.icon-left-arrow:before {
  content: "\e910";
}
.icon-right-arrow:before {
  content: "\e911";
}
.icon-school-bus:before {
  content: "\e912";
}
.icon-shipped:before {
  content: "\e913";
}
.icon-shirt:before {
  content: "\e914";
}
.icon-shopping-purse-icon:before {
  content: "\e915";
}
.icon-smartphone:before {
  content: "\e916";
}
.icon-sunbed:before {
  content: "\e917";
}
.icon-trash:before {
  content: "\e918";
}
.icon-unchecked:before {
  content: "\e919";
}
.icon-visibility:before {
  content: "\e91a";
}
.icon-vk-logo:before {
  content: "\e91b";
}
.icon-wallet:before {
  content: "\e91c";
}
