.section-main-slider {
  height: 0;
  width: 100%;
  padding: 0 !important;
  padding-bottom: 25% !important;
}
.main-slider {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
  .slick-list, .slick-track {
    height: 100%;
  }
  .slide {
    position: relative;
    background-size: cover;
    background-position: center;
  }

  .iframe-block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  video {
    width: 100%;
  }
}

.section-main-slider {

  .slick-arrow {
    top: 50%;
    color: #fff;
    font-size: 2.8rem;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
    &.icon-left-arrow  {
      left: 1.5rem;
    }
    &.icon-right-arrow  {
      right: 1.5rem;
    }
  }
  .slick-dots {
    bottom: 25px;
  }
  .slick-dots li.slick-active button:before {
    color: #fff;
    opacity: 1;
  }
  .slick-dots li button:before {
    color: #fff;
    opacity: 0.5;
    @include media-breakpoint-down(xs) {
      font-size: 30px;
    }
  }

}
