.section-main-map {
  padding: 12rem 0;
  background-size: cover;
  background-position: center;
  background-image: url($path-image + '/main/map.png');

  a {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
