.section-main-map {
  padding: 12rem 0;
  background-size: cover;
  background-position: center;
  background-image: url($path-image + '/main/map.png');

  padding-right: 3.5rem;
  a {
    padding-left: 3.5rem;
  }

  @include media-breakpoint-down(sm) {
    padding: 6rem 0;
  }
}
