.section-shopping-points {

  .map {
    margin: 3rem 0 7rem;
    height: 50rem;

    @include media-breakpoint-down(sm) {
      height: 30rem;
    }

    iframe {
      border: 0 !important;
    }
  }

  .shopping-points-list {
    .shopping-points-list-item {
      margin-bottom: 5rem;
      span {
        width: 2.5rem;
        display: inline-block;
      }

      @include media-breakpoint-down(xs) {
        border-bottom: 1px solid $border-gray;
        margin-bottom: 2.5rem;
        padding-bottom: 2rem;
        &:last-of-type {
            border-bottom: none;
        }
      }
    }
  }
}
