
//Calibri - Regular (400)
@font-face {
  font-family: 'Calibri';
  src: url($path-fonts + '/Calibri/Calibri_Regular.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//Calibri - Regular Italic (400)
@font-face {
  font-family: 'Calibri';
  src: url($path-fonts + '/Calibri/Calibri_Italic_Regular.TTF') format('truetype');
  font-weight: normal;
  font-style: italic;
}
//Calibri - Light (300)
@font-face {
  font-family: 'Calibri';
  src: url($path-fonts + '/Calibri/Calibril.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
//Calibri - Light Italic (300)
@font-face {
  font-family: 'Calibri';
  src: url($path-fonts + '/Calibri/Calibrili_Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
//Calibri - Bold (700)
@font-face {
  font-family: 'Calibri';
  src: url($path-fonts + '/Calibri/Calibri_Bold.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}
//Calibri - Bold Italic (700)
@font-face {
  font-family: 'Calibri';
  src: url($path-fonts + '/Calibri/Calibri_Bold_Italic.TTF') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src:  url($path-fonts + '/icomoon/icomoon.eot?lp2o0v');
  src:  url($path-fonts + '/icomoon/icomoon.eot?lp2o0v#iefix') format('embedded-opentype'),
    url($path-fonts + '/icomoon/icomoon.ttf?lp2o0v') format('truetype'),
    url($path-fonts + '/icomoon/icomoon.woff?lp2o0v') format('woff'),
    url($path-fonts + '/icomoon/icomoon.svg?lp2o0v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "../../fonts/icomoon/icomoon";
